:root {
  --title-color: #322153;
  --primary-color: #F2994A;
  --button-hover: rgb(226, 120, 21);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f0f5;
}


a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: Ubuntu, sans-serif;
  color: var(--title-color);
}
